#top{color:blue;
width: 700px;
background:azure;
height: 400px;}

#middle{color:aqua;
width: 900px;
background:blue;
height: 400px;}

#bottom{color:azure;
    width: 900px;
background:black;
height:200px;}

